* {
    margin:0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    color: #555;
    font-family: 'Lato', sans-serif;
    font-size: 120%;
    font-style: normal;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
	overflow-x: hidden;
    letter-spacing: normal;
}

@media only screen and (max-width:480px) {
    .row {
        max-width: 480px;
        margin: 0 auto;
    }

    html{
        background-color: #ffffff;
    }

    body {
        background-color: #f7f7f7;
        max-width: 480px;
        height: 640px;
        margin:auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 5%;
        background-position: right;
        background-size: cover;
    }

    .hd {
        text-align: center;
    }

    .logo {
        width: 25%;
        border-radius: 100%;
        margin-left: 5vw;
        margin-top: 5vw;
        margin-bottom: 5vw;
        float: left;
    }
    
    .DSChd {
        font-size: 5vw; 
        color: rgb(83, 83, 83);
    }

    .dsc {
        float: left;
        margin-right: 10vw;
        margin-left: 5vw;
        margin-top: 12vw;
        margin-bottom: 12vw;
        font-size: 3vw;
        color: rgb(107, 107, 107);
    }

    .dscev {
        margin-top: 2vw;
        margin-bottom: 2vw;
        margin-left: 5vw;
        font-size: 4vw;
    }

    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 3px;
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .arrowbig {
        border-width: 0 0.8vw 0.8vw 0;
        padding: 1.5vw;
    }

    .right {
        transform: rotate(315deg)
    }
    
    .left {
        transform: rotate(135deg);
    }
    
    .rtarrow{
        padding-right: 4vw; 
        padding-top: 6vw;
    }

    .evphoto {
        width: 20vw;
        float: left;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .evhd {
        font-size: 4vw; 
        color: rgb(83, 83, 83);
    }
    
    .evdet {
        margin-top: 6vw;
        float: left;
        color: rgb(118, 117, 117);
        font-size: 3vw;
        margin-left: 2vw;
    }

    .evcard {
        height: 20vw;
        display: block;
        padding: 0px;
        margin-left: 5vw;
        margin-right: 5vw;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    
    .srphoto {
        width: 80vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .srhd {
        font-size: 4vw; 
        color: rgb(83, 83, 83);
    }
    
    .srdet {
        margin-top: 1vw;
        color: rgb(118, 117, 117);
        font-size: 3vw;
        margin-left: 4vw;
        float: left;
    }
    
    .srcard {
        height: 58vw;
        width: 80vw;
        display: block;
        padding: 0px;
        margin-left: 10vw;
        margin-right: 10vw;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    
    .srrtarrow{
        margin-top: 1.5vw;
        margin-right: 4vw;
    }
}

@media only screen and (min-width:480px) and (max-width:1200px) {
    .row {
        max-width: 1100px;
        margin: 0 auto;
    }

    html{
        background-color: #ffffff;
    }

    body {
        background-color: #f7f7f7;
        max-width: 1200px;
        margin:auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 5%;
        background-position: right;
        background-size: cover;
    }

    .hd {
        text-align: center;
        font-size:4vw;
    }

    .logo {
        width: 16vw;
        border-radius: 100%;
        margin-left: 25vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        float: left;
    }

    .dsc {
        float: left;
        margin-right: 10vw;
        margin-left: 5vw;
        margin-top: 6vw;
        margin-bottom: 6vw;
        font-size: 2vw;
        color: rgb(107, 107, 107);
    }
    
    .DSChd {
        font-size: 3vw; 
        color: rgb(83, 83, 83);
    }


    .dscev {
        margin-top: 2vw;
        margin-bottom: 2vw;
        margin-left: 15vw;
/*        font-size: 4vw;*/
    }

    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 3px;
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .arrowbig {
        border-width: 0 0.5vw 0.5vw 0;
        padding: 1vw;
    }

    .right {
        transform: rotate(315deg)
    }
    
    .left {
        transform: rotate(135deg);
    }
    
    .rtarrow{
         padding-right: 4vw; 
        padding-top: 6vw;
    }

    .evphoto {
        width: 16vw;
        float: left;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .evdet {
        margin-top: 5vw;
        float: left;
        color: rgb(118, 117, 117);
        font-size: 2vw;
        margin-left: 2vw;
    }

    .evhd {
        font-size: 2.5vw; 
        color: rgb(83, 83, 83);
    }
    
    .evcard {
        height: 16vw;
        display: block;
        padding: 0px;
        margin-left: 15vw;
        margin-right: 15vw;
        border-radius: 10px;
        margin-bottom: 2vw;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
        
    .srphoto {
        width: 68vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .srhd {
        font-size: 2.5vw; 
        color: rgb(83, 83, 83);
    }
    
    .srdet {
        margin-top: 1vw;
        color: rgb(118, 117, 117);
        font-size: 2vw;
        margin-left: 4vw;
        float: left;
    }
    
    .srcard {
        height: 48vw;
        width: 68vw;
        display: block;
        padding: 0px;
        margin-left: 16vw;
        margin-bottom: 2vw;
        margin-right: 16vw;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    
    .srrtarrow{
        margin-top: 1.5vw;
        margin-right: 4vw;
    }
}

@media only screen and (min-width:1200px) {
    .row {
        max-width: 1100px;
        margin: 0 auto;
    }

    html{
        background-color: #ffffff;
    }

    body {
        background-color: #f7f7f7;
        max-width: 1200px;
        margin:auto;
        margin-top: auto;
        margin-bottom: auto;
        padding-top: 5%;
        background-position: right;
        background-size: cover;
    }

    .hd {
        text-align: center;
        font-size:4vw;
    }

    .logo {
        width: 12vw;
        border-radius: 100%;
        margin-left: 22vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
        float: left;
    }

    .dsc {
        float: left;
        margin-right: 10vw;
        margin-left: 5vw;
        margin-top: 4vw;
        margin-bottom: 4vw;
        font-size: 2vw;
        color: rgb(107, 107, 107);
    }
    
    .DSChd {
        font-size: 3vw; 
        color: rgb(83, 83, 83);
    }


    .dscev {
        margin-top: 2vw;
        margin-bottom: 2vw;
        margin-left: 15vw;
/*        font-size: 4vw;*/
    }

    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        margin: 3px;
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .arrowbig {
        border-width: 0 0.5vw 0.5vw 0;
        padding: 1vw;
    }

    .right {
        transform: rotate(315deg)
    }
    
    .left {
        transform: rotate(135deg);
    }
    
    .rtarrow{
         padding-right: 4vw; 
        padding-top: 4vw;
    }

    .evphoto {
        width: 12vw;
        float: left;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .evdet {
        margin-top: 3vw;
        float: left;
        color: rgb(118, 117, 117);
        font-size: 2vw;
        margin-left: 2vw;
    }

    .evhd {
        font-size: 2.5vw; 
        color: rgb(83, 83, 83);
    }
    
    .evcard {
        height: 12vw;
        display: block;
        padding: 0px;
        margin-left: 15vw;
        margin-right: 15vw;
        border-radius: 10px;
        margin-bottom: 2vw;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    
    .srphoto {
        width: 48vw;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    
    .srhd {
        font-size: 2vw; 
        color: rgb(83, 83, 83);
    }
    
    .srdet {
        margin-top: 1vw;
        color: rgb(118, 117, 117);
        font-size: 1.2vw;
        margin-left: 4vw;
        float: left;
    }
    
    .srcard {
        height: 36vw;
        width: 48vw;
        display: block;
        padding: 0px;
        margin-left: 15vw;
        margin-bottom: 2vw;
        margin-right: 15vw;
        border-radius: 10px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
    }
    
    .srrtarrow{
        margin-top: 1.5vw;
        margin-right: 4vw;
    }
}
